{% set css_files = '<link rel="stylesheet" href="../../static/css/home_page.css">' %}
{% include 'general/header.html' %}


<!-- Logo & Slogan -->
<div class="container home-page-bg">
  <div class="row col-12 col-md-10 col-lg-8 col-xl-6">
    <img class="centered-img px-2 mb-5" src="../static/img/ultimate_inventory_logo.png" alt="Prime Inventory Logo">
    <!-- <div class="row justify-content-between mt-3"> -->
    <div class="guest-btn mb-4 text-center">
      <a href="/guest" class="mb-1">Guest</a>
      <p class="text-dark m-0"><span class="px-2">Quick start to get you inside swiftly</span></p>
    </div>
    <div class="signin-btn text-center">
      <a href="/sign_in" class="mb-1">Sign in</a>
      <p class="text-dark m-0"><span class="px-2">You need to make an account first</span></p>
    </div>
    <!-- </div> -->
  </div>
</div>

<!-- Our vision, mission & values -->
<section class="our-vision-section">
  <div class="container">
    <header class="text-center mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1>Our Vision, Mission & Values</h1>
          <p>"Vision without action is merely a dream. Action without vision just passes the time. Vision with action can change the world." - Joel A. Barker</p>
        </div>
      </div>
    </header>

    <div class="row">

      <div class="col-lg-4 text-center">
        <video playsinline autoplay muted style="width: 50%; border-radius:20%;">
          <source src="/static/videos/our_vision.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <p>Our vision is to create a world where technology enhances every aspect of life, empowering individuals and organizations to achieve their full potential.</p>
      </div>

      <div class="col-lg-4 text-center">
        <video playsinline autoplay muted style="width: 50%; border-radius:20%;">
          <source src="/static/videos/our_mission.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <p>Our mission is to deliver innovative solutions that drive positive change, fostering collaboration, efficiency, and growth in every industry we serve.</p>
      </div>

      <div class="col-lg-4 text-center">
        <video playsinline autoplay muted style="width: 50%; border-radius:20%;">
          <source src="/static/videos/our_values.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <p>At our core, we value integrity, creativity, and a relentless pursuit of excellence. We believe in fostering a culture of respect, diversity, and continuous learning.</p>
      </div>

    </div>
  </div>
</section>

<!-- About us -->
<section id="about-us" class="about-us-section bg-light">
  <div class="container">
    <header class="text-center mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1>About Us</h1>
          <p>Want to know more about us?</p>
        </div>
      </div>
    </header>

    <div class="row">
      <div class="col-lg-6">
        <p>Introducing "Ultimate Inventory," the evolution of our project "Prime Inventory." Packed with enhanced features, improved performance, and fortified security measures, it sets a new standard in inventory management.</p>
        <br>
        <p>Our journey began with "Prime Inventory," aimed at assisting store managers in efficiently managing multiple warehouses. With each iteration, we refined the platform, incorporating feedback and pushing innovation boundaries.</p>
        <br>
        <p>"Ultimate Inventory" empowers store managers with a comprehensive toolset for organizing products, tracking movements, and optimizing inventory management. From its dynamic dashboard to seamless media file uploads, every feature enhances operational efficiency.</p>
        <br>
        <p>Join us as we continue to innovate and redefine inventory management's future.</p>
      </div>
      <div class="col-lg-6">
        <img class="about-us-image  rounded" src="../static/img/AboutUs.jpg" alt="About Us section Image">
      </div>
    </div>
  </div>
</section>

<!-- Pricing -->
<section id="pricing" class="pricing-section">
  <div class="container">
    <header class="text-center mb-5">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <h1>Pricing</h1>
          <p>Discover the perfect plan tailored to your needs from our diverse selection</p>
        </div>
      </div>
    </header>

    <div class="row text-center align-items-end">
      <!-- Pricing Table-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Basic</h1>
          <h2 class="h2 font-weight-bold">$199<span class="text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-start">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Up to 100 Users</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Up to 100 GB Space</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Dashborad</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> 1st Week Daily Free Support</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Normal Data Reports</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Google Maps Integration</li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Advanced Data Reports</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Gmail Notifications</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Free guest users</del>
            </li>
          </ul>
          <a href="https://www.linkedin.com/in/osamatbaileh" class="btn btn-primary d-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>
      <!-- END -->

      <!-- Pricing Table-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Pro</h1>
          <h2 class="h2 font-weight-bold">$399<span class="text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-start">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Up to 250 Users</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Up to 500 GB Space</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Dashborad</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> 1st month Daily Free Support</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Normal Data Reports</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Google Maps Integration</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Advanced Data Reports</li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Gmail Notifications</del>
            </li>
            <li class="mb-3 text-muted">
              <i class="fa fa-times mr-2"></i>
              <del>Free Guest Users</del>
            </li>
          </ul>
          <a href="https://www.linkedin.com/in/osamatbaileh" class="btn btn-primary d-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>
      <!-- END -->

      <!-- Pricing Table-->
      <div class="col-lg-4">
        <div class="bg-white p-5 rounded-lg shadow">
          <h1 class="h6 text-uppercase font-weight-bold mb-4">Enterprise</h1>
          <h2 class="h2 font-weight-bold">$899<span class="text-small font-weight-normal ml-2">/ month</span></h2>

          <div class="custom-separator my-4 mx-auto bg-primary"></div>

          <ul class="list-unstyled my-5 text-small text-start">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Up to 500 Users</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Up to 1TB space</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Dashborad</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> 1st Year Daily Free Support</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Normal Data Reports</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Google Maps Integration</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Advanced Data Reports</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Gmail Notifications</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-primary"></i> Free Guest Users</li>
          </ul>
          <a href="https://www.linkedin.com/in/osamatbaileh" class="btn btn-primary d-block p-2 shadow rounded-pill">Subscribe</a>
        </div>
      </div>
      <!-- END -->

    </div>
  </div>
</section>


{%include 'general/footer.html'%}  